### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/target/
/.idea/

*.class
*.zip
Examify_Output/

Examify_Installer/
Examify_App/
Examify_Baslat.bat
Examify_Yukle.bat
*.exe
*.jar
*.iss
dependency-reduced-pom.xml
examify.db
